<a href="https://colab.research.google.com/github/Reshma2103/reshma/blob/main/Task2%20flight%20price%20prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report,confusion_matrix
import warnings
import pickle
from scipy import stats
warnings.filterwarnings('ignore')
plt.style.use('fivethirtyeight')
df=pd.read_csv('/content/Clean_Dataset.csv')

In [36]:
df.head()
df.isnull().sum()

Unnamed: 0          0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

In [38]:
df_cat = df.select_dtypes(include='object')
df_cat.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy

In [45]:
df_cat.Date=df_cat.Date.astype('int64')
df_cat.Month=df_cat.Month.astype('int64')
df_cat.Year=df_cat.Year.astype('int64')
df_cat.Dep_Time_Hour=df_cat.Dep_Time_Hour.astype('int64')
df_cat.Dep_Time_Hour=df_cat.Dep_Time_Hour.astype('int64')
df_cat.Dep_Time_Mins=df_cat.Dep_Time_Mins.astype('int64')
df_cat.Arrival_date=df_cat.Arrival_data.astype("int64")
df_cat.Arrival_Time_Hour=df_cat.Arrival_Time_Hour.astype('int64')
df_cat.Arrival_Time_Mins=df_cat.Arrival_Time_Mins.astype('int64')
df_cat.Travel.Mins=df_cat.Travel_Mins.astype('int64')

AttributeError: ignored